body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a2a4a;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #d3d3d3;
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    background: white;
    border-radius: 5px;
}
.btn {
    background-color: #1abc9c;
    padding: 10px;
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.container-report {
    width: 70%;
    text-align: left;
}

.issue-card {
    width: 70%;
    text-align: left;
}
.ul{
    list-style-type: none;
}